# --- PyTorch with CUDA 12.1 Support ---
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.1+cu118
torchvision
torchaudio
numpy<2.0

# --- Web Framework & Server ---
fastapi
uvicorn[standard]
python-multipart

# --- NLP & Model Handling ---
huggingface_hub
tokenizers
pandas
pyarrow

# --- Utilities ---
pydantic
pydantic-settings